[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/tee0004
[access "refs/for/refs/*"]
	read = group user/tee0004
	push = group user/tee0004
	label-Code-Review = -2..+2 group user/tee0004
	label-Verified = -1..+1 group user/tee0004
	rebase = group user/tee0004
	removeReviewer = group user/tee0004
	submit = group user/tee0004
[access "refs/heads/*"]
	read = group user/tee0004
	create = group user/tee0004
	push = +force group user/tee0004
	pushMerge = group user/tee0004
[access "refs/tags/*"]
	push = +force group user/tee0004
	pushTag = group user/tee0004
	pushSignedTag = group user/tee0004
